 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

main{
    display: flex;
    min-height: 97vh;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 0 0px rgba(0,0,0,0.5);
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: hsl(0, 40%, 49%);
    width: 40%;
    height: 100vh;
    padding: 30px;
    color: #fff;
}
.photocard{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin: 0 auto;
}
.photocard img{
    width: 100%;
    border-radius: inherit;
}
.text{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
h1, .first_section{
    text-transform: uppercase;
    font-size: 20px;
}
.first_section{
    font-size: 18px;
}
.text__descr{
    text-align: justify;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 10px;
    width: 85%;
}
.text__descr ul{
    list-style: none;
    width: 250px;
}
.text__descr ul li{
    position: relative;
    left: -12px;
}
.text__descr ul li::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #fff;
    

}
.text__descr ul li img{
    width: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    border-radius: 50px;
}
.text__descr ul li a{
    color: #fff;
    text-decoration: none;

}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:  #222222;
    padding: 30px;
}
.information_title{
    display: flex;
    align-items: center;
}
.information_title h2{
    text-transform: uppercase;
    margin-left: 10px;
}
.information_title img{
    width: 40px;
    padding: 3px;
    border: 2px solid #000;
    border-radius: 50px;
}
.information_descr{
    margin-top: 10px;
}
.information_descr span{
    font-style: italic;
}
.information-text{
    margin-top: 10px;
    font-size: 12px;
}
.information-text ul{
    margin-left: 5px;
}
.information-text span{
    display: block;
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
}
.second_section{
    font-size: 18px;
    text-transform: uppercase;
}
h3{
    font-size: 16px;
}