* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

section {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    color: blue;
    font-size: 50px;
    background: rgb(33, 163, 33);
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: left;
    border: 5px solid darkgreen;
}

.main-table {
    margin-top: 200px;
}

table {
    width: 1000px;

    font-weight: bold;
}

th {
    padding: 10px 20px;
    background: #93a092a2;
    color: rgb(0, 0, 77);
     font-size: 35px;
}

th:last-child {
    border-right: none;
}

td {
    font-size: 35px;
    border-left: 2px solid #56433D;
    vertical-align: middle;
    padding: 10px;
    text-align: left;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}

td:first-child {
    border-left: 2px solid #56433D;
    border-right: none;
}

td:last-child {
    border-left: none;
}

h3 {
    text-align: left;
}

p {
    text-align: left;
}